@model CafeApp.DomainEntity.User

@{
    Layout = "~/Views/Shared/Default_Layout.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>

    <link href="~/Content/bootstrap-grid.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-grid.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-reboot.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-reboot.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()


    <div class="form-horizontal jumbotron">

        <div style="margin-left:100px">
            <h2>Employee Login</h2>
        </div>
        <hr />

        <div class="form-group ">
            @Html.Label("Username : ", htmlAttributes: new { @class = "control-label col-md-2 " })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Username, null, new { htmlAttributes = new { @class = "form-control ", required = "required" } })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Password :", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, null, new { htmlAttributes = new { @class = "form-control", required = "required", type = "password", id = "myInput" } })
            </div>
        </div>
        <span onclick="myFunction()" class="glyphicon glyphicon-eye-open" style="margin-left:180px"></span>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Login" class="btn btn-default" />
            </div>
        </div>
    </div>
        if (ViewBag.FailMessage != null)
        {
            <div class="alert alert-danger" style="text-align:center">
                @ViewBag.FailMessage
            </div>
        }
    }

</body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    function myFunction() {
        var x = document.getElementById("myInput");
        if (x.type == "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }


    $(document).ready(function () {
        $("#Username").focus();
    })
</script>


