@model IEnumerable<CafeApp.DomainEntity.OrderCart>

@{
    Layout = "~/Views/Shared/Customer_Layout.cshtml";
}

<h2>Order Cart</h2>

<h4 style="display:inline;float:left">@Html.ActionLink("Clear Cart", "ClearCart")</h4>

@if (ViewBag.TableStatus == "Occupied")
{
    <h5 style="display:inline;float:right">@Html.ActionLink("Cancel Order", "CancelOrder", new { area = "" }, new { Style = "color:red" }) [@ViewBag.TableNo]</h5>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Foods.FoodName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FoodQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalAmount)
        </th>
        <th></th>
    </tr>
    @using (Html.BeginForm())
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Foods.FoodName)
                </td>
                <td>
                    <button class="operator btn btn-success" value="+" data-id="@item.FoodsId"> + </button>
                    @item.FoodQuantity
                    <button class="operator btn btn-success" value="-" data-id="@item.FoodsId"> - </button>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalAmount)
                </td>
                <td>
                    <button class="operator btn btn-danger" value="x" data-id="@item.FoodsId">x</button>
                </td>
            </tr>
        }
        if (ViewBag.Count > 0)
        {
            <tr>
                <td style="font-weight:bold">
                    Total Amount
                </td>
                <td>
                </td>
                <td>
                    @ViewBag.FoodTotalSum
                </td>
            </tr>
        }
    }


</table>
<br />
<hr />
@if (ViewBag.Count > 0)
{
    if (ViewBag.TableStatus != "Occupied")
    {
        <h3 style="text-align:right">@Html.ActionLink("Confirm Order", "ConfirmOrderPage")</h3>
    }
    else
    {
        <h3 style="text-align:right">@Html.ActionLink("Change Table", "ConfirmOrderPage")</h3>
    }
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $(".operator").click(function (operator) {
            var dataId = $(this).attr("data-id");
            var operation = operator.target.value;
            console.log(operation);
            $.ajax({
                type: "POST",
                url: "/Customer/Quantity",
                data: { _operator: operation, Id: dataId },
                success: function () {
                    location.reload();
                }
            })
        })
    })
</script>
