@model CafeApp.Models.Table

@{
    Layout = "~/Views/Shared/Cashier_Layout.cshtml";
}

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Table</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TableNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TableNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TableStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TableStatus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TableId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
